.my-button {
  background-color: #4CAF50; /* Set the background color */
  border: none; /* Remove the border */
  color: white; /* Set the font color */
  padding: 12px 24px; /* Add padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Set the display to inline-block */
  font-size: 16px; /* Set the font size */
  margin: 10px; /* Add margin */
  cursor: pointer; /* Set the cursor to pointer */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Add a box shadow */
}

/* Add hover effect */
.my-button:hover {
  background-color: #3e8e41;
}


.card {
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    width: 300px;
  }
  
.card img {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.card h2 {
    font-size: 24px;
    margin: 20px 0 10px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

.card button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
}

.card button:hover {
    background-color: #3e8e41;
}  