* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #ee2424;
	padding: 20px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}

main {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

.hero {
	background-image: url(https://via.placeholder.com/1500x500);
}